* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Faust;
}
:root {
	font-size: 18px;
}

@font-face {
	font-family: Faust;
	src: url(./fonts/Faustina-VariableFont_wght.ttf);
}

/* =================================
CART
=================================== */
#open-cart {
	position: fixed;
	z-index: 7;
	bottom: 20px;
	right: 50px;
	color: whitesmoke;
	background-color: aqua;
	border: none;
	border-radius: 50%;
	font-size: 1.8rem;
	padding: 16px 20px;
	cursor: pointer;
}

#cart {
	padding-top: 20px;
	width: 30vw;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	background-color: whitesmoke;
	z-index: 6;
	transform: translateX(100%);
	transition: 0.5s ease-in-out;
	border-left: 3px solid black;
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
#cart h2 {
	margin-bottom: 22px;
}
#order-button {
	font-size: 1.2rem;
	font-weight: 600;
	border: 3px solid rgb(197, 79, 1);
	background-color: rgb(197, 79, 1);
	padding: 8px 16px;
	margin-top: 10px;
	margin-bottom: 8px;
	border-radius: 10px;
	transition: 0.2s;
}
#order-button:hover {
	background-color: transparent;
	cursor: pointer;
	transition: 0.2s;
	color: rgb(197, 79, 1);
}
#cart-main {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	height: 82vh;
	overflow-y: auto;
}

.cart-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: 80%;
	border: 1px solid gray;
	background-color: aliceblue;
	margin: 10px auto;
	padding: 5px;
}
.cart-item div {
	font-size: 1.3rem;
}
.cart-item img {
	height: 100px;
}

#modal {
	width: fit-content;
	padding: 15px 30px;
	background-color: aliceblue;
	position: fixed;
	top: -80vh;
	margin: 1% auto;
	left: 0;
	right: 0;
	z-index: 8;
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
	transition: 0.6s ease-in-out;
	font-size: 1.2rem;
	font-weight: 500;
}

/* ==================
HEADER
==================== */
body {
	overflow-x: hidden;
}
header {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size: 1rem;
	padding: 22px 50px;
	position: relative;
	background-color: rgba(255, 255, 255, 0.993);
	top: 0;
	z-index: 5;
}
h1 i {
	color: rgb(226, 191, 126);
}
header a {
	margin-right: 14px;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 500;
	color: black;
}
header a:hover {
	color: rgb(226, 191, 126);
}

/* ====================
SLIDE
======================= */
#slide-show-wrapper button {
	position: absolute;
	z-index: 4;
	background-color: transparent;
	outline: none;
	border: none;
	font-size: 2.8rem;
	color: whitesmoke;
	transition: 0.3s;
}
#slide-show-wrapper button:hover {
	color: rgb(196, 189, 93);
	transition: 0.3s;
	cursor: pointer;
}
#left-arrow {
	left: 30px;
	top: 40%;
}
#right-arrow {
	right: 30px;
	top: 40%;
}

#slide-show {
	position: relative;
	display: flex;
	flex-direction: row;
	height: 60vh;
	width: 100%;
	overflow-x: hidden;
	z-index: 2;
}
.slide {
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: whitesmoke;
	transition: all 0.8s ease-in-out;
}

.slide h2 {
	font-weight: 200;
	font-size: 4rem;
	width: 70vw;
	text-align: center;
}
.slide p {
	font-weight: 200;
	font-size: 1.1rem;
	color: rgb(163, 163, 163);
	width: 70vw;
	text-align: center;
}

.slide:nth-child(1) {
	left: 0%;
	background-image: url(./photos/slide1.png);
}
.slide:nth-child(2) {
	left: 100%;
	background-image: url(./photos/slide2.png);
}
.slide:nth-child(3) {
	left: 200%;
	background-image: url(./photos/slide3.png);
}

/* ==========================
TESTIMONIES
============================= */
#testimonies-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 60px;
	padding-bottom: 60px;
}
#testimonies-wrapper h3 {
	margin-bottom: 30px;
	font-size: 2rem;
	color: rgb(12, 12, 12);
}

#testimonies {
	width: 100%;
	margin: 0px auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}
.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 25%;
}
.card img {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
}
.card h5 {
	font-size: 1.4rem;
	margin-top: 10px;
	margin-bottom: 8px;
}
.card p {
	color: rgb(85, 85, 85);
	padding: 5px;
}
.card h6 {
	color: rgb(243, 186, 30);
	font-size: 1.2rem;
}

/* ========================
MAIN / BEERS
=========================== */
#main-wrapper {
	background-color: rgb(34, 34, 34);
}
#main-wrapper h3 {
	color: whitesmoke;
	text-align: center;
	font-size: 2.4rem;
	font-weight: 400;
	padding-top: 50px;
}
#main-wrapper h4 {
	color: rgb(112, 112, 112);
	text-align: center;
	font-size: 1.4rem;
	font-weight: 400;
}
main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-items: center;
	padding-top: 4%;
	padding-bottom: 4%;
	row-gap: 50px;
}

article {
	background-color: whitesmoke;
	width: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 10px;
	border-radius: 10px;
}
article img {
	width: 18vw;
	transition: transform 0.2s;
}
article img:hover {
	transform: scale(1.08);
	transition: transform 0.2s;
}
article h4 {
	font-size: 1.2rem;
	color: black !important;
	font-weight: 400;
}
article h5 {
	font-size: 1rem;
	color: rgb(110, 110, 110);
	font-weight: 200;
}
article h6 {
	font-size: 1.2rem;
	color: rgb(53, 53, 53);
}
article span {
	color: rgb(211, 159, 18);
}
article button {
	margin-top: 8px;
	font-size: 1rem;
	padding: 4px 8px;
	border: 3px solid rgb(197, 79, 1);
	background-color: rgb(197, 79, 1);
	transition: 0.2s;
	border-radius: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
article button:hover {
	background-color: transparent;
	transition: 0.2s;
	cursor: pointer;
}

/* 
===================================
CONTACT
==================================
 */

#contact-wrapper {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	padding: 3% 10%;
}

form {
	font-size: 1.2rem;
	width: 50%;
}
/* Inputs ----------------------------- */
.form-group {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
input {
	width: 100%;
	padding: 4px 12px;
	font-size: 1rem;
}

label {
	margin-bottom: 6px;
}

.form-group p {
	height: 1rem;
	margin-bottom: 8px;
	font-size: 0.8rem;
	padding-top: 4px;
	color: rgb(94, 94, 94);
}

select {
	margin-bottom: 10px;
	font-size: 1.2rem;
	width: fit-content;
}
textarea {
	resize: none;
	min-height: 200px;
	width: 100%;
}

.correct {
	border: 1px solid rgb(45, 182, 141);
}
.false {
	border: 1px solid rgb(248, 128, 128);
}
/* Inputs ----------------------------- */

#check {
	font-size: 1.3rem;
	width: fit-content;
	padding: 6px 30px;
	border-radius: 8px;
	border: 2px solid rgb(197, 79, 1);
	background-color: rgb(197, 79, 1);
	color: whitesmoke;
	transition: 0.3s;
	cursor: pointer;
}
#check:hover {
	background-color: transparent;
	color: rgb(197, 79, 1);
	transition: 0.3s;
}

#contact-info {
	width: 35%;
}
#contact-info h3 {
	font-size: 2.8rem;
}
#contact-info p {
	margin-top: 18px;
	color: rgb(73, 73, 73);
	font-size: 1.1rem;
}

/* ==================================
FOOTER
====================================== */

footer {
	width: 100%;
	padding: 3% 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgb(34, 34, 34);
}
#social-media i {
	color: rgb(197, 79, 1);
	font-size: 2.4rem;
	margin-left: 8px;
	margin-right: 8px;
	cursor: pointer;
	transition: 0.2s;
}
#social-media i:hover {
	transform: scale(1.2);
}
#footer-nav {
	margin-top: 8px;
}
#footer-nav a {
	color: whitesmoke;
	text-decoration: none;
	margin-left: 8px;
	margin-right: 8px;
	cursor: pointer;
	transition: 0.1s;
}
#footer-nav a:hover {
	color: rgb(73, 73, 73);
}
#footer-extra {
	margin-top: 12px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}
#footer-extra a {
	text-decoration: none;
	color: whitesmoke;
	transition: 0.1s;
}
#footer-extra a:hover {
	color: rgb(73, 73, 73);
}
.separator {
	margin-left: 12px;
	margin-right: 12px;
	width: 2px;
	height: 1.5rem;
	background-color: gray;
}
