@media only screen and (max-width: 1600px) {
	#cart {
		width: 50vw;
	}
}
/*
=========================================================================
1000px Breakpoint
========================================================================
 */
@media only screen and (max-width: 1000px) {
	/* CART ================================ */
	#cart {
		width: 70vw;
	}

	/* HEADER =============================== */
	h1 {
		font-size: 1.5rem;
	}

	header a {
		font-size: 1rem;
		margin-right: 8px;
	}

	/* SLIDES ================================ */
	.slide h2 {
		font-size: 3rem;
	}
	.slide p {
		font-size: 1rem;
	}

	/* BEERS */
	article {
		padding-top: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}
	article h4 {
		font-size: 1rem !important;
	}
	article h5 {
		font-size: 0.8rem;
	}

	/* CONTACT ==================================== */
	#contact-wrapper {
		padding: 3% 4%;
	}
	#contact-info {
		width: 40%;
	}
	#contact-info h3 {
		font-size: 2rem;
	}
	#contact-info p {
		margin-top: 18px;
		color: rgb(73, 73, 73);
		font-size: 0.9rem;
	}
}
/*
=========================================================================
700px Breakpoint
========================================================================
 */
@media only screen and (max-width: 700px) {
	#cart {
		width: 100vw;
	}
	nav {
		display: none;
	}
	#nav-alt-wrapper {
		position: fixed;
		top: 0;
		right: 0;
		background-color: whitesmoke;
		transform: translateX(100%);
		transition: 0.4s transform ease-in-out;
		width: 100vw;
		height: 50vh;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	}

	#open-nav {
		display: block;
		background-color: transparent;
		border: none;
		font-size: 1.8rem;
		color: rgb(36, 36, 36);
		cursor: pointer;
	}
	#nav-alt-wrapper {
		display: block;
	}
	#nav-alt {
		position: relative;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}

	#close-nav {
		background-color: transparent;
		border: none;
		font-size: 2rem;
		position: absolute;
		top: 10px;
		right: 20px;
		cursor: pointer;
		transition: 0.1s;
	}
	#close-nav:hover {
		color: rgb(87, 85, 84);
	}

	.fa-beer {
		color: rgb(226, 191, 126);
	}
	#nav-alt a {
		font-size: 1.4rem;
	}

	#testimonies-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	#testimonies-wrapper h3 {
		margin-bottom: 30px;
		font-size: 1.5rem;
		color: rgb(12, 12, 12);
	}
	#testimonies {
		flex-direction: column;
	}
	.card {
		width: 90%;
		margin-bottom: 20px;
	}
	#main-wrapper {
		padding-bottom: 30px;
	}
	main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		justify-items: center;
		padding-top: 4%;
		padding-bottom: 4%;
		row-gap: 50px;
	}

	#contact-wrapper {
		flex-direction: column-reverse;
	}
	form {
		font-size: 1.2rem;
		width: 90%;
	}
	#contact-info {
		width: 90%;
		margin-bottom: 30px;
	}
	footer {
		padding: 6% 10%;
	}
}

/*
=========================================================================
600px Breakpoint
========================================================================
 */
@media only screen and (max-width: 600px) {
	#open-cart {
		position: fixed;
		z-index: 7;
		bottom: 20px;
		right: 30px;
		color: whitesmoke;
		background-color: rgb(12, 216, 216);
		border: none;
		border-radius: 50%;
		font-size: 1.4rem;
		padding: 16px 20px;
		cursor: pointer;
	}
}

/*
=========================================================================
500px Breakpoint
========================================================================
 */
@media only screen and (max-width: 500px) {
	.slide h2 {
		font-size: 2.2rem;
	}
	.slide p {
		font-size: 0.8rem;
	}
	#left-arrow {
		left: 10px;
	}
	#right-arrow {
		right: 10px;
	}

	#contact-wrapper {
		padding-bottom: 50px;
	}
	.form-group p {
		margin-bottom: 16px;
	}
	footer {
		padding: 100px 10%;
	}

	#footer-nav {
		font-size: 0.8rem;
	}
}

/*
=========================================================================
400px Breakpoint
========================================================================
 */
@media only screen and (max-width: 400px) {
	#main-wrapper h4 {
		margin-bottom: 10px;
	}

	main {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		justify-items: center;
		padding-top: 4%;
		padding-bottom: 4%;
		row-gap: 50px;
	}
	article {
		padding-top: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}
	article h4 {
		font-size: 1.3rem !important;
	}
	article h5 {
		font-size: 1rem;
	}
}

/*
=========================================================================
350px Breakpoint
========================================================================
 */
@media only screen and (max-width: 350px) {
	#social-media i {
		font-size: 2.1rem;
	}
	#check {
		margin-top: 20px;
	}
}
